h1 {
    text-align: center;
    font-size: 6rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.scores {
    display: flex;
    justify-content: space-evenly;
}

.number {
    font-size: 8rem;;
}

#results {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 75px;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 200px;
}

.option {
    font-size: 2rem;
    width: 150px;

}

#restart {
    font-size: 2rem;
    align-self: center;
}